/* Border in Y to X */
div.borderYtoX li:before, div.borderYtoX li:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #ac0303;
    transition: all 0.3s;
}

div.borderYtoX li:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX li:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX li:hover:before, div.borderYtoX li:hover:after
{
    opacity: 1;
    width: 100%;
} 

/* circle behind */
/* div.circleBehind li:before, div.circleBehind li:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind li:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind li:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind li:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
} */

/* *{
    scroll-behavior: smooth;
}
.navbar{
    background-color: #126171;
} */
/* .navbar{
    background-color: #126171;
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 1px 2px #333, 
                0px 2px 4px #333, 
                0px 4px 8px #333, 
                0px 8px 16px #333;
}
.link:hover{
    color: #fff;
  background-color: #333;
  box-shadow: inset 0px 2px 4px #002962, 
              inset 0px 4px 8px #002962, 
              inset 0px 8px 16px #002962;
  transition: 0.4s;
  transform: translateY(2px);
} */

