.home-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    overflow-y: scroll;
    grid-gap: 1em;
    grid-template-areas:
    "h"
    "c";    
}

.hero{
    grid-area: h;
}
.course{
    grid-area:c;
}